@model List<ContactModel>

@{
    ViewData["Title"] = "Contact list";
}
<div class="text-center">
    <h1 class="display-4">Contact list</h1>

    <div class="d-flex justify-content-end">
        <a asp-controller="Contact" asp-action="Insert" class="btn btn-primary" role="button">Add new contact</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone number</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Programação defenciva -->
            @if (Model != null && Model.Any())
            {
                @foreach (ContactModel contact in Model)
                {
                    <tr>
                        <th scope="row">@contact.Id</th>
                        <td>@contact.Name</td>
                        <td>@contact.Email</td>
                        <td>@contact.PhoneNumber</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@contact.Id" asp-controller="Contact" asp-action="Edit">Edit</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@contact.Id" asp-controller="Contact" asp-action="ConfirmRemove">Remove</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>